/* Author:XrXr
https://github.com/XrXr/WhenIsKateLive
License:MIT */
* {
    box-sizing: inherit; /* Allows nested styles to define thier own */
}
html {
    background-color: #ffc1ca;
    padding: 0 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    max-width: 100%;
    box-sizing: border-box;
    height: 100%;
}
body {
    margin: 0;
    display: table;
    height: 100%;
    width: 100%;
}
.content-box {
    display: table-cell;
    vertical-align: middle;
}
.content {
    max-width: 1024px;
    margin: 16px auto;
    background: #f1eecc;
    border-radius: 8px;
    box-shadow: 0px 0px 16px rgba(50, 50, 50, 0.75);
    text-align: center;
    display: -webkit-flex;
    -webkit-flex-flow: column nowrap;
    display: flex;
    flex-flow: column nowrap;
}
h3 {
    font-size: 24px;
    font-weight: 500;
    padding-top: 16px;
    margin: 0;
}
.hidden {
    display: none;
}
h1 {
    font-size: 36px;
    font-weight: 500;
    padding: 0 16px;
}
small {
    font-size: 12px;
}
table {
    font-size: 14px;
    width: 100%;
}
a {
    color: #428bca;
    text-decoration: none;
}
a:hover {
    color: #2a6496;
}
a.disguise {
    color: inherit;
    cursor: default;
}
.art {
    width: 100%;
    height: auto;
}
nav {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-align-items: center;
    -webkit-align-content: center;
    -webkit-justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
.site {
    display: inline-block;
    text-decoration: none;
    font-size: 40px;
    padding: 16px 0;
    margin: 0 16px;
}
.site img {
    width: auto;
    height: 0.9em; /* 9/10 of local text size */
    vertical-align: middle;
}
.site .name {
    color: #333;
    padding-left: 8px;
    vertical-align: middle;
}
footer {
    padding: 8px 16px;
    font-size: 14px;
    display: -webkit-flex;
    -webkit-flex-flow: row nowrap;
    -webkit-justify-content: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
footer span {
    -webkit-flex: 1 1 33%;
    flex: 1 1 33%;
}
#artist {
    text-align: left;
}
#code {
    text-align: right;
}
.same-line-slots {
    display: none;
}
.twitter {
    font-size: 32px;
}
.twitch {
    font-size: 35px;
}
.youtube {
    font-size: 35px;
}
.canceled {
    text-decoration: line-through;
}
@media(max-width: 350px) {
    html {
        padding: 0;
    }
}
@media(max-width: 700px) {
    table {
        padding: 0 32px;
        white-space: nowrap;
        margin: 0 auto;
        width: auto;
        display: -webkit-flex;
        -webkit-flex-flow: row nowrap;
        display: flex;
        flex-flow: row nowrap;
    }
    thead {
        float: left;
    }
    tbody {
        float: right;
    }
    tr {
        display: -webkit-flex;
        -webkit-flex-flow: column nowrap;
        display: flex;
        flex-flow: column nowrap;
    }
    th, td {
        display: table;
        padding: 0 8px;
    }
    .site {
        font-size: 22px;
        padding: 8px 0;
    }
    .hide-on-mobile {
        display: none;
    }
    .auxiliary-slots {
        display: none;
    }
    .same-line-slots {
        display: inline;
    }
}